<div id="<%= dom_id(discussion) %>">
  <div class="well well-sm">
    <h4><%= link_to discussion.title, [@project, discussion] %></h4>
    <p><%= discussion.description %></p>
    <p><%= link_to "delete", project_discussion_path(@project, discussion), method: :delete, data: {confirm: "Are you use you want to delete this Discussion?"}, class: "btn btn-sm btn-danger", remote: true %></p>
  </div>
</div>