<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title"><%= @discussion.title %></h4>
  </div>
  <div class="panel-body">
    <p><%= @discussion.description %></p>
  <!-- <p><%= link_to "EDIT", edit_project_discussion_path(@project, @discussion) %></p> -->
  <p><%= link_to "Delete", project_discussion_path(@project, @discussion), method: :delete, data: {confirm: "Are you use you want to delete this project?"} %></p>
  </div>
</div>
