<div>
  <div class="well well-sm">
    <h4>Your Comment</h4>
    <p><%= @comment.body %></p>
    <p>Updated On: <%= @comment.updated_at %></p>
    <p>Created By: <%= @comment.user.first_name %></p>
  </div>
</div>