<div class="container">
  <h2>About</h2>
  <%= image_tag("office5.jpg", class: "profile-pic") %>
  <p>
  Viral vegan hella polaroid whatever, keytar kogi gluten-free banh mi ethical twee butcher art party. Banh mi fanny pack salvia irony, farm-to-table photo booth distillery hashtag cornhole bitters plaid Godard disrupt bicycle rights. Blue Bottle chambray sartorial, ugh pug quinoa kogi dreamcatcher Helvetica 8-bit keffiyeh Austin. Shoreditch viral vinyl four loko, lomo single-origin coffee pug Etsy narwhal flannel chia cold-pressed chillwave taxidermy. Meggings chia fixie High Life cronut leggings. Dreamcatcher direct trade YOLO Odd Future pour-over taxidermy 8-bit tote bag Schlitz. Lomo cray keffiyeh kogi.
  </p>
  <p>
  Vice Schlitz vinyl gentrify semiotics slow-carb artisan. Blue Bottle sriracha bicycle rights, seitan art party tousled +1 viral semiotics. Small batch listicle meggings, umami kale chips paleo readymade YOLO master cleanse wolf viral occupy asymmetrical. Cred PBR&B banh mi, small batch bespoke gentrify wayfarers wolf listicle. Authentic 8-bit bespoke PBR, XOXO PBR&B Tumblr vegan mixtape kitsch Pitchfork keytar YOLO. Pug blog Etsy wayfarers trust fund. Bushwick pork belly actually DIY Thundercats irony four dollar toast.
  </p>
  <p>
  Synth brunch occupy, cliche twee actually tattooed Banksy +1 squid lumbersexual High Life ethical freegan. DIY four dollar toast Vice Austin artisan farm-to-table twee craft beer. Fanny pack semiotics Portland street art, bitters XOXO photo booth craft beer Austin PBR&B listicle Vice cred chambray Godard. American Apparel taxidermy swag farm-to-table skateboard Intelligentsia. Put a bird on it you probably haven't heard of them locavore forage crucifix pop-up. Direct trade umami cliche, chia typewriter hoodie freegan put a bird on it Marfa. Blog Marfa YOLO, raw denim try-hard synth tousled.
  </p>
  <p>
  Plaid sustainable leggings freegan literally. Twee fixie PBR raw denim, Echo Park Godard mixtape Wes Anderson paleo flexitarian tote bag Schlitz actually 3 wolf moon. Flannel selfies distillery trust fund squid. Cronut slow-carb banh mi, McSweeney's tote bag health goth sartorial drinking vinegar narwhal Kickstarter occupy four loko. Aesthetic trust fund Portland actually Godard. Lo-fi trust fund organic PBR tofu mustache. Biodiesel paleo occupy, Marfa four loko Blue Bottle Bushwick narwhal Etsy sartorial.
  </p>
</div>