<!-- <h2>INDEX PAGE</h2>

<h1>home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

 -->
<div class="parallax-window" data-parallax="scroll" data-image-src="assets/office2.jpg">
  <div class="home-container">
    <div class="logo-container">
      <%= image_tag "codecore2.png", class: "cc-logo" %>
      <center><h1>Project Management Tool</h1></center>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/space.jpg">
  <div class="container landing-container">
    <div class="content-container">
      <h3>Project Management Tool</h3>
      <p>Multi platform api software to streamline the process and activity of planning, organizing, motivating, and controlling resources, procedures and protocols to achieve specific goals in scientific or daily problems. A project is a temporary endeavor designed to produce a unique product, service or result with a defined beginning and end (usually time-constrained, and often constrained by funding or deliverables), undertaken to meet unique goals and objectives, typically to bring about beneficial change or added value. The temporary nature of projects stands in contrast with business as usual (or operations), which are repetitive, permanent, or semi-permanent functional activities to produce products or services.</p>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/galaxy.jpg">
  <div class="landing-container">
    <div class="column-container">
      <div class="container columns">
        <div class="column">
          <%= image_tag "project3.jpg", class: "col-image" %>
          <p>The City of Vancouver, is a coastal seaport city on the mainland of British Columbia, Canada. The 2011 census recorded 603,502 people in the city, making it the eighth largest Canadian municipality. Vancouver is one of the most ethnically and linguistically diverse cities in Canada</p>
        </div>
        <div class="column">
          <%= image_tag "project1.jpg", class: "col-image" %>
          <p>Not all projects will have every stage, as projects can be terminated before they reach completion. Some projects do not follow a structured planning and/or monitoring process. And some projects will go through steps 2, 3 and 4 multiple times.</p>
        </div>
        <div class="column">
          <%= image_tag "project2.jpg", class: "col-image" %>
          <p>Web development is a broad term for the work involved in developing a web site for the Internet or an intranet. Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications, electronic businesses, and social network services. A</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/office.jpg">
  <div class="landing-container">
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/office4.jpg">
  <div class="landing-container">
  </div>
</div>