<!-- <h2>INDEX PAGE</h2>

<h1>home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

 -->
<div class="parallax-window" data-parallax="scroll" data-image-src="assets/office2.jpg">
  <div class="home-container">
    <div class="logo-container">
      <center><h1>Project Management Tool</h1></center>
      <%= image_tag "codecore.png", class: "cc-logo" %>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/space.jpg">
  <div class="home-container">
    <div class="logo-container">
      <p></p>
    </div>
  </div>
</div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/06/galaxy-wallpapers-22.jpg">
      <img class="hero" src="http://fc03.deviantart.net/fs70/f/2013/087/c/1/captain_america_icon_by_slamiticon-d5z2j6c.png">
    </div>

      <div class="parallax-window" data-parallax="scroll" data-image-src="http://hdgalaxywallpaper.com/wp-content/uploads/2014/05/macbook-galaxy-wallpaper-hd-8.jpg">
        <img class="hero" src="http://i1255.photobucket.com/albums/hh635/xxinfernoxx1/Thor-hammer.png">
      </div>