// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  margin-bottom: 50px;
}

.profile-pic {
  width: 300px;
}

.panel {
  margin-top: 20px;
}

.discussions-box {
  background-color: #ffcd83;
  padding: 20px;
}

.tasks-box {
  background-color: #aeff7f;
  padding: 20px;
}

.other-box {
  background-color: #fb6eff;
  padding: 20px;
}

.form-box {
  background-color: #585aff;
  padding: 20px;
}



