// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #E0DCFF;
}

p {
  font-size: 16px;
  text-align: justify;
}

.home-container {
  height: 510px;
  position: relative;
}

.profile-pic {
  width: 100%;
  margin-bottom: 20px;
}

.cc-logo {
  width: 500px;
}

.logo-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // padding: 20px;
  // border-radius: 20px;
  // background-color: rgba(255,255,255,0.2);
    h1 {
      font-family: 'Permanent Marker', cursive;
      font-size: 37px;
      color: black;
      margin: 0;
      text-shadow: 1px 1px 5px rgba(203,13,15,0.7);
    }
}

.landing-container {
  height: 510px;
  position: relative;
}

.content-container{
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    h3 {
      font-family: 'Permanent Marker', cursive;
      color: black;
  }
}

.container {
  h2 {
    font-family: 'Permanent Marker', cursive;
    color: black;
  }
}

.column-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    h3 {
      font-family: 'Permanent Marker', cursive;
      color: black;
  }
}

.col-image {
  width: 100%;
}

.columns {
  margin-top: 30px;
}

.column {
  width: 31%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: text-top;
  p {
    font-size: 14px;
    padding: 8px;
    background: rgba(255,255,255,0.8);
  }
}
